[submodule "epfence_devmatch2024"]
	path = epfence_devmatch2024
	url = git@github.com:colin-woon/epfence_devmatch2024.git
[submodule "solight_ideathon_2024"]
	path = solight_ideathon_2024
	url = git@github.com:colin-woon/solight_ideathon_2024.git
